.full-page-height-vh.bg-color-blue-700.row.middle-xs.center-xs.color-white
  .col-xs-8.col-md-6.col-lg-4
    %h1 ReactApp
    %p Parrafo base para inicio de sesión
    .card.bg-color-white.padding
      = react_component('Registration')
